@import "../../styles/global.scss";

.searchBar {
  margin-top: 20px;
}

.searchTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #503117;
  margin-top: 75px;
}

.searchTotal {
  margin: 15px 0 40px;
}
.searchTotalText {
  color: #767676;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.05em;
}

.searchTotalCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  padding: 0 20px;
  padding-left: 500px;
  @media (max-width: $break-point) {
    .cardImage {
      width: 245.7px;
      height: 226.52px;
    }
    .cardSearch {
      width: 245.7px;
      height: 226.52px;
    }
    .cardFavorite {
      height: 50px;
      right: 2px;
      top: 4px;
    }
  }
}
@media (max-width: $break-point) {
  .searchTotalCard {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-left: 0;
  }
}

.cardSearch {
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.226) 1px 2px 2px;
}

.cardFooter {
  width: 200px;
  height: auto;
}

.cardImage {
  width: 400px;
  height: auto;
}

.cardText {
  font-size: 20px;
}

.cardLink {
  font-size: 20px;
}

.cardPaw {
  font-size: 20px;
}

.searchFooter {
  margin-top: 100px;
}
