@import "../../styles/global.scss";

.searchBar {
  margin-top: 20px;
}

.searchTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #503117;
  margin-top: 75px;
}

.searchTotal {
  margin: 15px 0 40px;
}
.searchTotalText {
  color: #767676;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.05em;

  @media (max-width: $break-point) {
    margin-bottom: 100px;
  }
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.searchTotalCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  box-sizing: border-box;

  @media (max-width: $break-point) {
    .cardImage {
      width: 263px;
      height: 226px;
    }
    .cardSearch {
      width: 260px;
      height: auto;
    }
  }
}
.cardFavorite {
  height: 60px;
  right: 20px;
  top: 20px;
}
@media (max-width: $break-point) {
  .searchTotalCard {
    grid-template-columns: 1fr;
  }
  .cardFavorite {
    height: 60px;
    right: 6px;
    top: 10px;
  }
}

.cardSearch {
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.226) 1px 2px 2px;
  font-family: $font-family;
}

.cardFooter {
  width: 100%;
  height: auto;
  display: block;
}

.cardImage {
  width: 408px;
  height: auto;
}

.cardText {
  font-size: 20px;
  font-weight: bold;
}

.cardLink {
  font-size: 20px;
}

.cardPaw {
  width: 20px;
}

.searchFooter {
  margin-top: 100px;
}

.searchNota {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchPrice {
  display: flex;
  justify-content: space-between;
}

.cardGrade {
  font-size: 20px;
  font-weight: bold;
  color: #503117;
}

.searchPrice {
  color: black;
  font-family: $font-family;
  font-size: 18px;
  text-decoration: none;
  a {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    font-size: 15px;
    color: #503117;
    font-weight: bold;
  }
}
