.searchBar {
  margin-top: 20px;
}

.searchTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #503117;
  margin-top: 20px;
}

.searchTotal {
  margin: 15px 0 40px;

  .searchTotalText {
    color: #767676;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.05em;
  }
}

.searchTotalCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  padding: 0 20px;
}
