@import "../../styles/global.scss";

.loginContainer {
  display: flex;
  justify-content: center;
  gap: 200px;
  background-color: #fbf8e0;
  margin-top: 5px;
  box-sizing: border-box;
}

.infoContainer {
  width: 500px;
  height: 750px;
  background-color: #f5f1cc;
  box-shadow: 12px 9px 20px 2px rgba(214, 149, 88, 0.23);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 60px;

  @media (max-width: $break-point) {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
}

.loginText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #503117;
}

.productName {
  font-family: Bangers;
  font-style: normal;
  font-weight: normal;
  font-size: 73px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #503117;
  text-shadow: 0px 0.241673px 0.241673px rgba(0, 0, 0, 0.25);
}

.inputText {
  font-family: Poppins;
  font-weight: bold;
  font-size: 25px;
  color: #503117;
}

.passwordInput {
  margin-top: 30px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 25px;
  color: #503117;
}

.listOptionsContainer {
  @media (max-width: $break-point) {
    display: none;
  }
}

.listOptions {
  padding: 40px 0 0 40px;
  list-style: none;
  font-family: $font-family;
  font-weight: bold;
  font-size: 30px;
  li {
    color: #643b18;
    font-weight: normal;
    text-shadow: 0px 6.34921px 6.34921px rgba(0, 0, 0, 0.25);
  }
}

.inputContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  margin-top: 50px;
  height: 70px;
  width: 130px;
  cursor: pointer;
  margin-bottom: 15px;

  p {
    font-size: 20px;
  }
}

.forgotPassword {
  color: #503117;
  font-family: $font-family;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginFooter {
  margin: 0;
}
