@import "../../styles/global.scss";

.login-container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  gap: 200px;
  background-color: #fbf8e0;
  margin-top: 5px;
}

.yellow-div {
  border: 2px solid rgb(122, 122, 29);
  width: 500px;
  height: 800px;
  background-color: #f5f1cc;
  box-shadow: 12px 9px 20px 2px rgba(214, 149, 88, 0.23);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 80px;
}

.loginText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #503117;
}

.productName {
  font-family: Bangers;
  font-style: normal;
  font-weight: normal;
  font-size: 73px;
  line-height: 77px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #503117;
  text-shadow: 0px 0.241673px 0.241673px rgba(0, 0, 0, 0.25);
}

.inputText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: #503117;
}

.white-div {
  border: 2px solid green;
}

.list-options {
  padding: 40px 0 0 40px;
  list-style: none;
  font-family: $font-family;
  font-weight: bold;
  font-size: 30px;
  li {
    color: #643b18;
    font-weight: normal;
    text-shadow: 0px 6.34921px 6.34921px rgba(0, 0, 0, 0.25);
  }
}

.loginFooter {
  margin: 0;
}
