@import "../../styles/global.scss";

.login {
  display: flex;
}

.loginFooter {
  margin-top: 100px;
}
.login-input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1082px;
  width: 614px;

  border-radius: 50px;
  align-items: center;
  justify-content: center;
  background: rgba(245, 241, 205, 1);
}
.login-img {
  height: 745px;
  width: 691px;

  border-radius: 0px;
}

.img-dog {
}

.login-text {
  width: 423px;
  height: 37px;
  right: 957px;
  top: 593px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #643b18;

  text-shadow: 0px 6.34921px 6.34921px rgba(0, 0, 0, 0.25);
}
.login-mais {
  width: 270px;
  height: 43px;
  right: 1110px;
  top: 361px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;

  color: #000000;
}
.input-component {
  display: flex;

  width: 66%;
  height: 16%;
  justify-content: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}
.button-component {
}
.login-welcome {
  width: 287px;
  left: 941px;
  top: 391px;

  font-family: Poppins;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #503117;
}
.login-pets {
  position: absolute;
  width: 412.54px;
  height: 77.15px;

  font-family: Bangers;
  font-style: normal;
  font-weight: normal;
  font-size: 72.502px;
  line-height: 77px;

  text-align: center;
  letter-spacing: 0.05em;

  color: #503117;

  text-shadow: 0px 0.241673px 0.241673px rgba(0, 0, 0, 0.25);
}
