.menu {
  width: 100%;
  position: relative;
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
  .menu--hamburguer {
    width: 33px;
    height: 30px;

    position: absolute;
    right: 20px;
    top: 30px;
  }
}
