@import "../../styles/global.scss";

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 13.5rem;
  width: 10rem;
  background-color: #fbf8e0;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.226) 3px 5px 10px;

  .card__item--image {
    width: 100%;
    object-fit: cover;
  }

  .card__item--footer {
    padding: 15px 0px;
    text-align: center;
    @include center();

    .card_item--footer__text {
      color: #643b18;
      font-size: 0.7rem;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
    }
  }
}
