.formulario {
  display: flex;
  flex-direction: column;
  width: 80%;

  .formulatio__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: black;
    margin-bottom: 5px;
  }

  .formulario__input {
    height: 60px;
    border-radius: 20px;
    outline: none;
    border: 1.24234px solid rgba(118, 118, 118, 0.15);
    box-shadow: rgba(0, 0, 0, 0.226) 3px 5px 10px;

    &::placeholder {
      font-family: "Poppins", sans-serif;
      padding: 10px;
    }
  }
}
