@import "../../styles/global.scss";

.card {
  @include centerInColumn();
  border-radius: 20px;
  background-color: #fbf8e0;
  box-shadow: rgba(0, 0, 0, 0.226) 3px 5px 10px;

  .card__footer {
    display: flex;
    gap: 10px;

    .card__footer--text {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 2px;
      text-align: left;
      color: #000000;
      font-size: 0.7rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;

      .card__footer--link {
        color: #643b18dc;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 10px;
        text-decoration: none;
      }
    }

    .card__footer--patinha-black-and-nota {
      display: flex;
      align-items: center;
      max-height: 15px;
      color: #000000;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 0.8rem;
      gap: 3px;
    }
  }
}

.card__footer--animais {
  height: 3rem;

  .card__footer--text--animais {
    @include centerX-Y;
    text-align: center;
    color: #643b18;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
}
