@import "../../styles/global.scss";

.backtop {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;

  .backtop__text {
    color: $primary-color;
    font-family: $font-family;
    font-weight: 400;
    text-shadow: 3px 2px 3.5px rgba(0, 0, 0, 0.452);
  }

  .backtop__image {
    height: 100%;
  }
}
