.filter {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: #9c612f 0.5px dashed;
  border-top: #9c612f 0.5px dashed;
  box-shadow: 0px 7.53995px 11.3099px rgba(156, 97, 47, 0.25);

  &__text {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #9c612f;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &::after {
      content: "";
      width: 20px;
      height: 3px;
      border-radius: 200px;
      background-color: #503117;
      display: block;
      margin: auto;
      transition: width 0.5s ease;
    }
    &--selected::after {
      width: 80%;
    }
  }
}
