@import "../../styles/global.scss";
.hotelDescription {
  margin: 0;
  padding: 0;
}

.headerMobile {
  display: block;
  @media (max-width: $break-point) {
    display: none;
  }
}

.hotelDescriptionImages {
  display: flex;
  position: relative;
  width: 100%;
}

.carouselArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 36px "Poppins", sans-serif;
  cursor: pointer;
  padding: 50px;

  @media (max-width: $break-point) {
    display: none;
  }
}

.hotelDescriptionImageHotel {
  height: 400px;
  @media (max-width: $break-point) {
    flex: 1;
    margin: 0;
  }
}

.hotelDescriptionImageSair {
  @media (min-width: $break-point) {
    display: none;
  }
  @media (max-width: $break-point) {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 35px;
  }
}

.containerFirstInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: $break-point) {
    display: block;
  }
}

.favoriteContainer {
  display: flex;
  align-items: center;
}

.hotelName {
  font-size: 20px;
  font-family: $font-family;
  font-weight: bold;
  padding-left: 15px;
}

.favoriteDescription {
  position: relative;
  height: 44px;
}

.containerSecondInfos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media (max-width: $break-point) {
    display: block;
    text-align: left;
  }
}

.gradeContainer {
  display: flex;
  width: 85px;
  justify-content: space-around;
  margin-left: 10px;
}

.hotelGrade {
  font-size: 20px;
  font-weight: bold;
  font-family: $font-family;
  color: #503117;
}

.hotelPrice {
  font-size: 25px;
  font-weight: 600;
  color: #643b18;
  font-family: "Poppins", sans-serif;

  @media (max-width: $break-point) {
    font-size: 16px;
    font-weight: 600;
    color: #643b18;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}

.locationContainer {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  color: #484848;
}

.containerThirdInfos {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 100px;

  @media (max-width: $break-point) {
    display: block;
  }
}

.infoContainer {
  margin-left: 15px;
  margin-bottom: 50px;
  max-width: 446px;
  font-family: "Poppins", sans-serif;
  color: #484848;

  @media (max-width: $break-point) {
    margin-right: 15px;
  }
}

.commodityListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $break-point) {
    display: block;
    margin-left: 15px;
  }
}

.descriptionInfos {
  font-size: 20px;
  font-family: $font-family;
  font-weight: bold;
  color: #643b18;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: justify;
}

.commodityList {
  list-style: none;
  margin-bottom: 50px;
  margin-top: 15px;
}

.commodityItem {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #030303;
}

.establishmentClass {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $break-point) {
    width: 91%;
    padding: 10px;
  }
}

.linkDescriptionContainer {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @media (max-width: $break-point) {
    margin-left: 15px;
  }
}

.linkDescription {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 30px;
  color: #643b18;
  font-family: "Poppins", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: block;

  a {
    font-weight: bold;
    color: #643b18;
  }
}

.linkDescriptionClique {
  font-weight: 400;
}

.hotelPublicationsLinks {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-left: 40px;
  color: #643b18;
  text-decoration: underline;
  cursor: pointer;
}
