.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: -2px 2px 6px 1px #00000061;

  .header--logo {
    width: 400px;
    height: auto;
  }

  .header--titulo {
    font-family: "Bangers", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 69.0403px;
    letter-spacing: 0.05em;
    color: #503117;
    text-shadow: 0px 0.230134px 0.230134px rgba(0, 0, 0, 0.25);
  }
}
